@page "/Employees"
@using DynamicERP.Data
@inject EmployeeService employeeService

<NavLink class="nav-link" href="AddEmployee">
    <span class="oi oi-plus alert alert-success" aria-hidden="true"> Create New</span>

</NavLink>

<h1>Employee Info</h1>
@if (EmpObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Emp Id</th>
                <th>Employee Name</th>
                <th>Gender</th>
                <th>Designation</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in EmpObj)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.EmployeName</td>
                    <td>@emp.Gender</td>
                    <td>@emp.Designation</td>
                    <td>@emp.City</td>
                    <td>
                        <a class="nav-link"  href="EditEmployee/@emp.Id">
                            <span class="oi oi-pencil btn btn-info btn-sm" aria-hidden="true"></span>
                        </a>
                        <a class="nav-link" href="Delete/@emp.Id">
                            <span class="oi oi-trash btn btn-danger btn-sm" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Employee> EmpObj;
    protected override async Task OnInitializedAsync()
    {
        EmpObj = await Task.Run(() => employeeService.GetAllEmployeesAsync());
    }
}